:root {
   
    --primary: #0d9488;        
    --accent: #14b8a6;         
    --bg: #f0fdfa;             
    --border: #ccfbf1;         
    --tag-bg: #a7f3d0;         
    --success: #10b981;        
    --danger: #ef4444;
    --info: #3b82f6;
    --neutral: #6b7280;
    --text-main: #1e293b;
    --text-secondary: #64748b;

    /* Spacing */
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;

    /* Shadows */
    --shadow-sm: 0 1px 3px rgba(0,0,0,0.1);
    --shadow-md: 0 4px 12px rgba(13,148,136,0.15);
    --shadow-lg: 0 10px 30px rgba(13,148,136,0.2);

    /* Radius*/
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-full: 50%;

    /* Fonts */
    --font-family: 'Manrope', 'Cairo', sans-serif;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg);
    color: var(--text-main);
    overflow-x: hidden; 
}


.btn-base {
    padding: 10px 24px;
    border-radius: var(--radius-md);
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}