@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Cairo:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--bg);
  color: var(--text-main);
}
